@using BreakingBricksWeb.Models
@model BrickModel


@{
    ViewData["Title"] = "Brick";
}


    <img src="/images/brick/@(5).png" />
    <br />
    <br />
    <br />
<a href="/brick">New Game</a>
<br />
Solved: @Model.Field.IsSolved()
<br />
<br />
<table>

    @for (int row = 0; row < Model.Field.RowCount; row++)
    {

        int c = row * 8;
        <tr>
            @for (int column = 0; column < Model.Field.ColumnCount; column++)
            {

                var brick = Model.Field[row, column];
                if (brick == null)
                {

                    <td>
                    </td>
                }
                else
                {
                    <td>
                        <a href="/Brick/Move?c=@(c)">
                            <img src="/images/brick/img@(brick.Colour).png" />
                        </a>

                    </td>                   
                c++;
            }
        </tr>
    }
</table>
<h2>Scores :</h2>
<ol>
    @foreach (var score in Model.Scores)
    {
        <li>@score.Player : @score.BrickScore</li>
    }
</ol>
<h2>Comments :</h2>
<ol>
    @foreach (var comment in Model.Comments)
    {
        <li>@comment.Name : @comment.Content</li>
    }
</ol>
<h2>Ratings :</h2>
<ol>
    @foreach (var rating in Model.Ratings)
    {
        <h6> @rating.Points / 10</h6>


    }
</ol>
<form action="/Brick/SaveComment">
    <h2>Give us your feedback:</h2>
    Name:    <input type="text" name="Name" /> <br />
    Comment: <input type="text" name="Content" /> <br />
    <input type="submit" />


</form>

<form action="/Brick/SaveRating">
    <h2>What do you rate us out of 10 ?</h2>
    Rating:   <input type="number" name="Points" /> <br />
    <input type="submit" />
</form>
